@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;700&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}


body {
  min-height:100%; 
  position:relative; 
  padding-bottom: 60px;
  font-family: 'Raleway', sans-serif;
  

/* padding-top: 112px; */
}

.background {
  background-color: #f2f2f2;
}
